.flexbox {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.col1 {
  background-color: rgb(197, 133, 143);
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  background-color: rgb(73, 65, 65);
  color: white;
}

.col2{
  background-color: rgb(66, 166, 199);
  width: 200px;
}